/* Universal selector */
* {
  margin: 0;
  padding: 0;
}

/* top screen banner that holds the nav menu */
#top-banner {
  background-color: green;
  border-bottom: 5px solid black;
  position: sticky;
  padding: 25px;
  
}

#top-banner li {
  display: inline;
  padding: 5px;
  margin: 2px;
}

#top-banner ul {
  float: right;
  margin-bottom: 5px;
}

/* Make hyperlinks appear white without underline effect */
#top-banner a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
}

#main-menu {
  text-align: center;
}

#main-menu a {
  text-decoration: none;
}

#main-menu li {
  display: inline;
}