/* Universal selector */
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* top screen banner that holds the nav menu */
#top-banner {
  background-color: black;
  border-bottom: 5px solid #7e9a9a;
  position: sticky;
  padding: 30px;
}

/* List items within top banner */
#top-banner li {
  display: inline;
  padding: 2px;
  margin: 12px;

}

/* Container for list items within top banner */
#top-banner ul {
  float: right;
  margin-bottom: 5px;
}

/* Make top-banner hyperlinks appear white without underline effect */
#top-banner a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:black;
}

/* container for main content area */
main {
  width: 1500px;
  /* background-color: lightgrey; */
  margin: auto;
  margin-top: 50px;
}


/* Collage of images as backdrop/main background */
#body-image {
  background-image: url(./images/page-background.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

}


/* div created for center of page image */
#center-image {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-image: url(./images/photobooth.jpg);
  background-position: center;
  height: 1000px;
  width: 1500px;
  background-size: contain;
  border: solid whitesmoke 3px;
  /* background-image: url("https://place-hold.it/1500x1000"); */
}

/* Main title/quote on page */
h1 {
  position: absolute;
  display: inline-block;
  left: 70px;
  line-height: 1.9em;
  padding: 70px;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 120px;
  color: aliceblue;
  
}

/* Footer / Bottom-banner */
footer {
  background-color: black;
  padding: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 5px solid #7e9a9a;
  color: white;
}


/* Add flexbox or media queries for phone fluidity */