/* Universal selector */
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* top screen banner that holds the nav menu */
#top-banner {
  background-color: #8ec3eb;
  border-bottom: 5px solid #7e9a9a;
  position: sticky;
  padding: 30px;
}

/* List items within top banner */
#top-banner li {
  display: inline;
  padding: 2px;
  margin: 12px;

}

/* Container for list items within top banner */
#top-banner ul {
  float: right;
  margin-bottom: 5px;
}

/* Make top-banner hyperlinks appear white without underline effect */
#top-banner a {
  color: white;
  text-decoration: none;
}

/* Main title/quote on page */
h1 {
  line-height: 1.6em;
  font-family: serif;
  padding: 60px;
}

/* container for main content area */
main {
  width: 1500px;
  /* background-color: lightgrey; */
  margin: auto;
  margin-top: 50px;
}

/* div created for background image */
#background-image {
  background-image: url("https://place-hold.it/1500x1000");
  background-position: center;
  height: 1000px;
  width: 1500px;
}

/* container for main's nav */
#main-menu {
  text-align: center;
}

/* hyperlinks from main nav */
#main-menu a {
  text-decoration: none;
}

/* Container for links in middle of page */
#main-menu ul {
  margin: 30px;
  padding-bottom: 30px;
}

/* Links in middle of page to redirect to respective pages */
#main-menu li {
  display: inline;
  margin: 20px;
}

/* Footer / Bottom-banner */
footer {
  background-color: #8ec3eb;
  padding: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 5px solid #7e9a9a;
}


/* Add flexbox or media queries for phone fluidity */